<!-- <nav class="navbar navbar-expand-xl navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img class="logImg" src="assets/logo used in header.svg" alt="Logo" />
        </a>

        <ul class="navUl navbar-nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="/dashboard" aria-current="page">DASHBOARD</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/content">CONTENT</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/users">USERS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/reports">REPORTS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/admin">ADMIN</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="#">
                    <img src="assets/alerts.svg" alt="Alerts" />
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="#">
                    <img src="assets/announcements.svg" alt="Announcements" />
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="#">
                    <img src="assets/account_circle.svg" alt="Account" />
                </a>
            </li>
        </ul>
    </div>
</nav> -->

<nav class="nav--section">
    <div>
        <img src="assets/logo used in header.svg" alt="Logo">
    </div>
    <div class="navigate--links">
        <a href="#">Content</a>
        <a href="#">Users</a>
        <a href="#">Manage Site</a>
        <a href="#">
            <img src="assets/alerts.svg" alt="Alerts">
        </a>
        <a href="#">
            <img src="assets/announcements.svg" alt="Announcements">
        </a>
        <a href="#">
            <img src="assets/account_circle.svg" alt="">
        </a>
    </div>
  </nav>
 
 
 
<div class="main--section">
  <div class="box">
      <div class="arrow">
          <a href="#">
              <img src="./../../assets/back.svg" alt="">
          </a>
      </div>
  </div>
  <div class="box ">
      <div class="title">
          Create New Question
      </div>
     
  </div>
  <div class="box ">
      <div class="buttons">
          <button>Discard</button>
          <button>Publish</button>
          <button>Save</button>
      </div>
     
  </div>
</div>