<footer>
    <!-- <div class="footer-title">{{l10n("footer.powered-by-quantum")}}</div> -->
    <div class="footer-links-container" #footerContainer>
       
    </div>
    <div class="footer-description">
        <img class="quantum-footer-logo" id="footer-logo-img" src="assets/logo used in header.svg" alt="Athena Logo">
        <div>
            <span>Copyright</span>
            <span aria-hidden="true">&copy;</span>
            <span>2000-2024</span>
            <a href="/" >
                Zeus Systems Pvt. Ltd.
            </a>
            <span>All rights reserved.</span>
        </div>
    </div>
</footer>