<div style="width: 800px; margin-left: auto; margin-right: auto;">
<div class="main" style="display: flex; justify-content: space-between;">
    <div class="questionInputField"></div> 
    <div class="answerInputField" style="margin-left: 80px;"></div> 
</div>
<div style="display: flex; flex-direction:row; ">
    <button (click)="addQuestion()" style="width: 100px; height: 40px; margin-top: 10px;">Add Stimulus</button>
    <button (click)="addAnswer()" style="width: 100px; height: 40px; margin-left: 390px; margin-top: 10px;">Add Response</button>

</div>
<canvas id="canvas" style="margin-top: 20px;"></canvas>
</div>
