<!-- <p>preview works!</p> -->
<div class="header">
    <div class="phr">
        <p>[Course Family]</p>
        <span class="vertical"></span>
        <p>ID: 12345678</p>
    </div>
    <button class="btn exitBtn" routerLink="/test">EXIT PREVIEW</button>
</div>
<div class="canvasDiv">
    <canvas class="previewCanvas"></canvas>
    <div class="btnDiv">
        <button class="btn reset" (click)="reset()">reset</button>
        <button class="btn checkBtn" (click)="check()">check</button>
    </div>
    <!-- <div class="resetDiv" (click)="reset()"> -->
        <!-- <span class="material-icons resetIcon">replay</span> -->
    <!-- </div> -->
</div>